.history-container {
  width: 50vw;
  height: auto;
  padding: 10px 30px 20px 30px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  margin: 20px auto;
}

.Hword {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 207, 179);
  padding: 0px 50px;
  display: flex;
  align-items: center;
  color: orangered;
  border-radius: 10px;
}
.Hpos {
  font-size: 17px;
  font-weight: 700;
}

/* responsiveness for devices with less then 1030 pixels(Tabs) width  */
@media screen and (max-width: 1030px) {
  .history-container {
    width: 70vw;
  }
}

/* responsiveness for devices with less then 600 pixels(mobiles) width  */
@media screen and (max-width: 600px) {
  .history-container {
    width: 90vw;
  }
}
